# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Environment Variables
.env

# VS Code Settings
.vscode/

# macOS
.DS_Store

# Python database files
*.db

# Logs
*.log